.tab {
  font-weight: 400;
  border-bottom: 1px solid var(--mantine-color-default-border);
  &[data-active] {
    font-weight: 700;
    border-bottom: 1px solid var(--mantine-color-default-border);
  }
  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}
